<div class="container-fluid">
    <div class="card">
        <div class="card-header">
            <h5>Products List</h5>
        </div>
        <div class="card-body">
            <div class="btn-popup pull-right">
                <a class="btn btn-secondary"  routerLink="/products/manage/add-product" >Add Product</a>
            </div>
            <div id="batchDelete" class="category-table custom-datatable transcation-datatable userimage">
                <div class="table-responsive">
                    <ngx-datatable class="bootstrap" [rows]="objRows" [columnMode]="'force'" [headerHeight]="50"
                        [footerHeight]="50" [rowHeight]="'auto'" [limit]="5">
                        <ngx-datatable-column name="Name"></ngx-datatable-column>
                        <ngx-datatable-column name="Title"></ngx-datatable-column>
                        <ngx-datatable-column name="Code"></ngx-datatable-column>
                        <ngx-datatable-column name="Price"></ngx-datatable-column>
                        <ngx-datatable-column name="Sale Price"></ngx-datatable-column>
                        <ngx-datatable-column name="Quantity"></ngx-datatable-column>
                        <ngx-datatable-column name="Created Date" prop="createdOn">
                        </ngx-datatable-column>
                        <ngx-datatable-column name="Actions">
                            <ng-template ngx-datatable-cell-template let-row="row">
                                <!-- Edit Button -->
                                <button type="button"
                                    style="color: green; border: none; background: none; cursor: pointer;"
                                    (click)="Edit(row.id)">
                                    <i class="fas fa-edit"></i>
                                </button>
                                <!-- Delete Button -->
                                <button type="button"
                                    style="color: red; border: none; background: none; cursor: pointer;"
                                    (click)="Delete(row.id)">
                                    <i class="fa-solid fa-trash"></i>
                                </button>
                            </ng-template>
                        </ngx-datatable-column>
                    </ngx-datatable>
                </div>
            </div>
        </div>
    </div>
</div>